/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root {
    --light-blue: #f0fbff;
    --med-pink: #ffe5eb;
    --baby-blue: #96B8F1;
    --trim: #666ABD;
    --grey: #D9D9D9;
    --title-font-size: 84px;
    --body-font-size: 32px;
    --border-radius: 15px;
 }
 
 @font-face {
    font-family: Baloo;
    src: url(Baloo_Paaji/BalooPaaji2-Regular.ttf);
  }

  @font-face {
    font-family: Baloo-Bold;
    src: url(Baloo_Paaji/BalooPaaji2-ExtraBold.ttf);
  }

  body {
    background-color: var(--light-blue);
    text-align: center;
  }

  .logo {
    width: 300px;
    margin: 100px 10px 10px 10px;
  }

  .h1 {
    font-family: Baloo-Bold;
    font-size: var(--title-font-size);
    color: var(--baby-blue);
    -webkit-text-stroke: 3px var(--trim);
  }

  .link {
    font-family: Baloo;
  }

  .input-box {
    width: 760px;
    height: 66px;
    font-family: Baloo;
    color: var(--trim);
    font-size: var(--body-font-size);
    border-radius: var(--border-radius);
    /* border: none; */
    border-color: var(--baby-blue);
    border-width: 3px;
    border-style: solid;
    margin-right: 10px;
    text-align: center;
  }

  .link-button {
    width: 203px;
    height: 66px;
    font-family: Baloo-Bold;
    font-size: var(--body-font-size);
    background-color: var(--baby-blue);
    border-radius: var(--border-radius);
    border: none;
    color: white;
  }

 .long-button {
    width: 414px;
    height: 58px;
    margin-top: 30px;
    font-family: Baloo-Bold;
    font-size: var(--body-font-size);
    background-color: var(--baby-blue);
    border-radius: var(--border-radius);
    border: none;
    color: white;
 }